*{
    box-sizing: border-box;
}
.row {
	width: 100%;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    margin-bottom: 20px;
}
.section{
    background-color: rgb(150, 150, 150);
    border: 2px solid black;
    margin-top: 20px;
    margin-right: 20px;
    padding: 3px;
    text-align: justify;
    position: relative;
}
p {
	padding: 20px 5px 5px 5px;
	font-family: Georgia sans-serif;
	font-size: 16px;
	position: relative;
}
span {
	font-size: 20px;
	width: 150px;
    border: 1px solid black;
    font-weight: bold;
	text-align: center;
	float: right; top :0; right: 0; margin: 0;
	position: absolute;
}
#f1 {
	background-color: rgb(197, 108, 108);
	color: rgb(0, 0, 0);
}
#f2 {
	background-color: rgb(218, 33, 33);
	color: rgb(250, 250, 250);
}
#f3 {
	background-color: rgb(224, 224, 97);
	color: rgb(0, 0, 0);
}
}

.row {
	width: 100%;
}



@media (min-width: 992px) {
 
  .col-lg-4 {
    width: 33.33%;
    float: left;
	}
}


@media (min-width: 768px) and (max-width: 991px) {
 
  .col-md-6 {
    width: 50%;
    float: left;
  }
  .col-md-12 {
    width: 100%;
    float: left;
  }
}

@media (max-width: 767px)  {
  
  .col-sx-12 {
  	float: left;
    width: 100%;
  }
}